.haki_image_class{
    text-align: center;
    margin-top: 50px;
}
.h2_tag{
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 80px;
}
@media(max-width:768px){
    .h2_tag{
        font-size: 50px;
    }
}